[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Johan Nguyen
	email = nguyen_johan@hotmail.com
[alias]
	co = checkout
